*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Playfair Display', serif;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg,#808CDF,#DFD480);
    /* background: #808CDF; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-box{
    width: 90%;
    max-width: 750px;
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    height: max-content;
}

.head{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    border-bottom: 2px solid #DFD480;
    font-size: 2.3rem;
    color: #C9363E;
}

.quote{
    text-align: center;
    margin-bottom: 2rem;
}

.poet{
    display: flex;
    justify-content: end;
    right: 2px;
}

.btn{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    
}

.new{
    margin-right: 10px;

}

.Tweet img{
    width: 2rem;
    margin-right: 5px;
}
.Tweet{
    padding: 3px;
    border-radius: 1rem;
    outline: none;
    border: 1px solid ;
    width: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 500;
}

.new{
    padding: 3px;
    border-radius: 1rem;
    outline: none;
    border: none;
    /* color: #fff; */
    width: 7rem;
    background-color: #808CDF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 500;
}